.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
}

.profile-section {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
